
@import "~nprogress/nprogress.css";
@import "~sweetalert2/dist/sweetalert2.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

/* Image Picker */
@import url('~tingle.js/dist/tingle.css');
@import url('~cropperjs/dist/cropper.css');

.tingle-modal--visible {
  z-index: 10000;
}

@media (max-width: 540px) {
  .tingle-modal-box__footer .tingle-btn.tingle-btn--danger {
	display:none;
  }
  
  .tingle-modal-box__content {
	padding: 1.5rem 3rem;
  }

  .tingle-modal-box {
	width: 100%;
  }

  .price_in {
	margin-bottom: 24px;
  }
}

.tingle-modal.tingle-modal--visible {
  display: flex;
  flex-direction: column;
}

.tingle-modal-box {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.tingle-modal-box__content {
  flex: 1;
  position: relative;
}

.tingle-modal-box__content > div {
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
}

.tingle-modal--overflow {
  overflow-y: hidden !important;
  padding-top: 0 !important;
}

.tingle-modal-box__footer {
  text-align: center;
}

.back-btn-shown {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: black;
  border: 1px solid white;
  box-shadow: 0 10px 30px rgba(82, 85, 90, 0.2);
  color: white;
  text-align: center;
  cursor: pointer;
  line-height: 25px;
  font-size: 20px;
}

.back-btn-shown span {
  display: none;
}

.back-btn-shown:hover span {
  position: absolute;
  top: 0;
  right: 35px;
  width: 74px;
  margin-left: -37px;
  display: block;
  background-color: black;
  color: white;
  font-size: 12px;
  border: 1px solid black;
  box-shadow: 0 10px 40px rgba(82, 85, 90, 0.2);
}
